input {
    file {
        path => "/Users/Cypress/Downloads/jobs.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","
        columns => ["id","title","location","posting_date","desc","qual","perfered"]
    }
    mutate {convert => ["id", "integer"]}
}

output {
    elasticsearch {
        index => "jobs"
        document_type => "amazon_jobs"
    }
    stdout {}
}